*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
    border: 10px solid black;
    width: 53%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
}
.head h1{
    font-size: 3rem;
    text-transform: uppercase;
    width: 100%;

}
.head p{
    font-size: .9rem;
    width: 100%;
}
main{
    background-color: rgb(94 69 171);
    display: flex;
    flex-flow: column nowrap;
    margin: 10px auto;
    width: 53%;
    padding: 0;
    border-radius: 10px;
    border: 10px solid black;
}
.screen-warning{
    font-size: 2.1rem;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 30% auto;
    text-transform: capitalize;
    display: none;

}
@media all and (max-width:300px){
    .screen-warning{
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .head,main{
        display: none;
    }

}
@media all and (min-width:301px) and (max-width:800px){
    .head{
        height: auto;
    }
    .head h1{
        font-size: 1.7rem;
    }
}