*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.BarChart{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 95%;
    box-sizing: border-box;
    
}
.bar{
    height: 100%;
    flex-grow: 1;
    margin: 0;
    
}
.capsule{
    height: 80%;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    
}
.fillVal{
    background-color: thistle;
    border: 1px solid whitesmoke;
}
.month,.short-month{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.short-month{
    display: none;
}
@media all and (min-width:301px) and (max-width:800px){
    .month{
        display: none;
    }
    .short-month{
        display: flex;
        color: whitesmoke;
    }
    
}