*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.reports-status{
    height: 25vh;
    width: 95%;
    border: 10px solid black;
    border-radius: 10px;
    margin: 1% auto;
    background-color: rgb(75, 80, 80);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.reports-filter{
    height: 25%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.reports{
    height: 75%;
    width: 100%;
    color: whitesmoke;
    align-items: flex-end;
    display: flex;
    align-items: flex-end;
}
