*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.expense-form{
    border: 10px solid black;
    display: flex;
    width: 95%;
    margin: 1% auto;
    height: 30vh;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(75, 80, 80);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 1%;
    color: whitesmoke;
    justify-content: space-around;
    
    
}
.expense-feild{
    display: flex;
    margin: .5%;
    width: 100%;
    box-sizing: border-box;
}
.expense-feild label{
    width: 50%;
    height: 30px;
}
.expense-feild input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-left: 3%;
    text-align: center;
}
.expense-feild button,.addExpenseButton{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 20px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border: 5px solid whitesmoke;
    

}
.expense-feild>button:hover{
    cursor: pointer;
}
input[type='date']{
    font-size: 1rem;
}
.btn{
    display: flex;
    justify-content: flex-start;
}
.add-expense{
    margin: 1% auto;
    width: 95%;
    border: 1px solid black;
    box-sizing: border-box;
    height: 10vh;
    background-color: rgb(75, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
}
.addExpenseButton{
    border: 1px solid whitesmoke
}

.invalid{
    border: 2px solid #ed5a6e;
}

@media all and (max-width:300px){
    .expense-form,.add-expense{
        display: none;
    }
}

@media all and (min-width:301px) and (max-width:800px){
    .addExpenseButton{
        width: 90%;
        margin: 0;
    }
    .add-expense{
        padding: 0;
    }
    .expense-form{
        height: auto;
        padding: 1%;
        font-size: 1rem;
    }
    .expense-feild{
        flex-flow: column nowrap;
        width: 100%;
        justify-content: space-evenly;
    }
    .expense-feild label,.expense-feild input,.expense-feild button{
        width: 90%;
        margin: 3px auto;
    }
    .btn{
        margin-top: 5vh;
    }   
    .expense-feild button{
        margin: 5px auto;
    }
}
