.expense-datec{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.d-month,.d-year{
    height: 20%;
    text-align: center;
    font-size: 80%;
}
.d-date{
    height: 60%;
    text-align: center;
    font-size: 200%;
}